.heading{
    margin-top: 30px;
    text-align: center;
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label-style{
    font-size: 20px;
    margin-top: 50px;
}

.input-style{
    padding: 5px;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.btn-style{
    padding: 10px !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.btn-start-anim{
    margin-top: 80px !important;
}