.heading{
    margin-top: 30px;
    text-align: center;
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label-style{
    font-size: 20px;
    margin-top: 30px;
}

.input-style{
    padding: 5px;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.btn-style{
    padding: 10px !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.w-33{
    width: 32%;
}

.btn-gap{
    margin-top: 50px !important;
}

.bot-label{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.bot-image{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
}

.bot-image:hover{
    border-width: 5px;
}

canvas{
    border-style: solid;
    border-width: 3px;
}

.btn-start{
    border: none !important;
    background-color: #4CAF50 !important;
}

i{
    margin-left: 20px;
}